@using System.Security.Principal

@{
    ViewData["Title"] = "Home Page";
}




<div class="row">
    <div class="col-md-3">
        <h2>ODT Portal</h2>
        <p>
            
            @if (User.Identity.IsAuthenticated)
            {
                <p>Welcome, @User.Identity.Name &nbsp;&nbsp;&nbsp;@Html.ActionLink("Log Out", "LogOff", "Account")</p>  

                <div>Here are your claims</div>
                @foreach (var item in User.Claims)
                {
                    <div>@item.Value</div>
                }             
            }
            else
            {
                <p>
                    <li>Welcome guest, @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </p>
            }
        </P>
    </div>   
</div>
