@{
    Layout = null;
}
<html>
<head>
    <title>OnDemand Tools</title>
</head>
<body style="padding:0">
     <div id="app"></div>
@{
        //The order of rendering has to be remain the same
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/signalr/jquery.signalR-2.2.0.js"></script>
        <script src = "@Url.Content("~/signalr/hubs")" ></script>
        <script src="@Url.Content("~/react.odtportal.bundle.js")" asp-append-version="true"></script>
}
</body>
</html>