@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-md-3">
        <h2>ODT Web Application</h2>
        <p>
            Welcome!
        </P>
    </div>   
</div>
