@using System.Security.Principal
@using Microsoft.AspNetCore.Http
@using System


@section AddToHead{
   <style type='text/css'>
    .panel {
        width:540px;
        
    }

    .panel-body{
        padding:50px;
    }
      
    .flex-row {             
            min-height:200px;
    }

    .btn-login{
        min-width:380px;
    }

    .btn-cont{
        padding-top: 10px;
    }

    .lgn-msg{
        padding-top:40px;
    }
    </style>

}

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
             <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="text-center">
                            <img src="~/images/ODT_Logo.png" id="ODTLogo" alt="Ondemand Tools" />
                        </div>
                    </div>                   
                </div>
                
                <div class="panel-body flex-row">
                    <div class="text-center btn-cont">
                            <a class="btn btn-primary btn-lg btn-login" href="/Account/Login" role="button">Login</a> 
                    </div>

                 
                   

                 
                </div>
           
            <div class="panel-footer">                
                        Trouble signing in? <a href="mailto:OnDemandToolsSupport@turner.com">Contact ODT Support</a>                 
            </div>
</div>
        </div>
    </div>
</div>

