body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.tab-content {
    border: 1px solid #ddd;
    border-width: 0 1px 1px;
    padding: 5px;
    border-radius: 4px;
}
.nav-tabs > li > a,
.nav-tabs > li > a:hover{
  background-color: #f5f5f5 ;
   border: medium none;
    font-size: 16px;
    font-weight: 400;
    color: #337ab7;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
}

li.disabled {
    cursor: not-allowed;
}

.dropdownAccess>.dropdown-menu>li>a {
    color: #337ab7;
    text-decoration: none;
}

.dropdownAccess.open>.dropdown-menu {
    display: block;
}

.dropdownAccess .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 30;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    border: 0;
    background-clip:padding-box;
    border-radius: 4px;
    webkit-box-shadow: none;
    box-shadow: none;
}

.dropdownAccess>.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #337ab7;
    outline: 0;
}

li.dropdownAccess a#nav-dropdown {
    background-color: #fff;
}

li.active.dropdownAccess a#nav-dropdown {
    background-color: #337ab7;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color:#ddd; 
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}
/* bootrap table css modification starts */
table { 
  width: 100%; 
 border-collapse: collapse;
  table-layout: fixed;
}

.react-bs-table {
   margin: 5px 10px 5px 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
   height:auto !important;
}

.react-bs-container-body{
    width:100%;
    height:auto !important;
}
.table-hover > tbody > tr:hover {
  background-color:#D3D3D3;
}
.queue-head{
    margin-top:-5px; 
    font-size:20px;
     margin-bottom:-5px; 
}

.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    background-color:#D3D3D3;
}

th { 
   background:#337ab7; 
   font-size: 16px;
    font-weight: 400;
   border: 1px solid #ddd !important;
   color:white;
}

tr,td{
    word-wrap: break-word;
    max-width: 0;
}

.react-bs-table table td, 
.react-bs-table table th {
    overflow: auto; 
    white-space:normal;
    word-wrap: break-word !important;
    word-break: break-word;
    /* text-overflow: ellipsis; */
}

td, th { 
  padding: 6px; 
 border: 1px solid #ddd !important;
  text-align: left; 
}

/* bootrap table css modification ends */
.queue-table-th-name{
  width:50px;
}
.queue-table-th-advanceddevlivery{
  width:100px;
}
.queue-table-th-email{
  width:50px;
}
.queue-table-th-queue{
  width:300px;
}
.react-bootstrap-table-page-btns-ul {
    float: left;
    margin-left: -150px;
    margin-top: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 400px;
}

textarea.form-control-modal {
    height: 100px;
}

textarea.form-control-modal-Edit {
    max-width: 325px;
    height: 100px;
}

.select-control-width{
    max-width: 300px;
}

.destination-select-control{
    width: 300px;
}

.category-select-control, .contentTier-select-control  {
    max-width: 400px;
}

.destination-properties-addnew{
   background-color: white;
    border: 1px solid #555;
    color: #337ab7;
    margin-left: 13px;
    margin-bottom: 5px;
    font-weight:700;
}
.destination-properties-label{
    color: #337ab7;
}

.destination-properties-actionmargin{
   margin-left:-7px
}

.destination-properties-filtermargin{
   margin-left:75px;
}
.destination-properties-popovermargin{
    margin-bottom:3px;
}
.destination-height{
    max-height:200px;
    overflow-y:auto;
    overflow-x: hidden;

}
.destination-container { 
    width: 40px;
    float:left;
    
}
.destination-container img { 
    width: 100%;
}
.destination-plusbutton{
    margin-top:15px;
}

.destination-title{
        float: left;
    margin-left: -50px;
}


.destination-label-title{
    width:120px;
    height: 2em; 
    line-height: 1em; 
    text-overflow: ellipsis;
    margin-bottom: 12px;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
}
.destination-label-title:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;  /* just added this line */
}
.destination-img-btn{
 height: 2em;
}
.destination-img{
    width:120px;
    height: 2.8em; 
    line-height: 1em; 
    text-overflow: ellipsis;
    margin-bottom: 12px;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
}
.destination-img:hover{
    overflow: visible; 
    white-space: normal;
    height:auto;  /* just added this line */
}
/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}


.addMarginRight
{
    margin-right: 20px;
}

.addMarginLeft
{
    margin-left: 5px;
}

.addMarginRight:hover
{
    text-decoration: none;
}

.addVertialAlign
{
    vertical-align: super;
    padding-right: 10px;
}

.noPadding
{
    padding: 0px;
}

.btn-link[disabled] {
    font-weight: normal;
    border-radius: 0;
    color: #777;
    text-decoration: none;
}

p.shortDesc {
    width: auto;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.shortDesc:hover{
    overflow: visible; 
    white-space: normal; 
    width: auto;
    max-width: 335px;
    position: absolute;
    background-color:#D3D3D3;
}

.has-error .select-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }


}

.modal-header
{
 background-color: rgb(51, 122, 183);
 color: rgb(255, 255, 255); 
}

.modal-header .close
{
    color: rgb(255, 255, 255); 
}

.addEditQueueModel .modal-lg
{
    max-width: 840px;
}

.queueResetByDateRangeModel .modal-lg
{
    max-width: 810px;
}

.queueNotificationHistoryModel .modal-lg
{
    max-width: 700px;
}

.marginLeftRight
{
    margin-left: 10px;
    margin-right: 10px;
}

.addMarginRight
{
    margin-right: 3px;
}

.destinationPropertiesFilterModel .modal-lg
{
    width: 1100px;
    top:1%;
   
}
.propFilterContainer
{
    min-height: 570px;
    width: 1180px;
}

.imageCheckbox
{
    padding: 3px;
    margin: 5px;
    width: 50px;
    height: 50px;
   cursor: pointer;
}

.brandImageIcon
{    
    margin-right: 5px;
    margin-left: 5px;
    margin-top: -5px;
    width: 50px;
    height: 50px; 
}
.imageSelected
{
    background-color: lightgray;
    border-color: rgb(51, 122, 183);
    border-width: 3px;
    padding: 2px;
    border-style: solid;
}

.imageCheckbox[disabled]
{
cursor: not-allowed;
}
.react-bs-table_filter {
    margin: 0px 0px 0px 0px;
    width:105%;
}

.filterButton
{
    width: 78px;
}


/*****************************************************/
/******** Destination Deliverables tab styling ******/
#deliverable-grid {
    padding-top: 18px;
}


.destination-deliverables-popovermargin{
    margin-bottom:3px;
}

.panel-category .panel-body {
  min-height: 250px;
}

.category-height{
    min-height:270px;
    max-height:270px;
    overflow-y:auto;
    overflow-x: hidden;
}

.TitleOverlay-height{   
    max-height:260px;
    overflow-y:auto;
    overflow-x: hidden;

}

.title-search-position{
    padding-left:1px;
}

.product-input{
    display: inline-block !important;
    min-width:260px;
    max-width:260px;
}

.distribution-input{
    max-width:360px;
}

.product-input-left{
    display: inline-block !important;
    min-width:300px;
    max-width:300px;
}

.destination-head {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

/*****************************************************/
/******** category strike out styling starts******/
.category-table td {
    overflow: initial;
    border: 0 !important;
}

.strikeout td[class*=col-]{
    position:relative;
    float: none;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
}

.row-margin{
    margin-bottom:10px;
    overflow: visible !important;
}

.strikeout td{    
     background-color: grey;
}

.col-height {
    min-height:33px;    
}

.alert-info-right {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  float:right;
}

.cursorPointer
{
    cursor: pointer;
}

.clearBoth
{
    clear: both;
}

.availWidth
{
    max-width:70%;
}

.whiteColorText
{
    color: white;
}

.blueColorText
{
    color: #337ab7;
}

/*****************************************************/
/******** category strike out styling ends******/

/*****************************************************/
/******** brand image styling  starts******/
.brand-container {
   width: 33px;
   float: left;
   margin-right: 5px;
}
.brand-container img { 
    width: 100%;
}

.brand-img{
    width:120px;
    height: 2.8em; 
    line-height: 1em; 
    text-overflow: ellipsis;
    cursor: pointer;
    word-break: break-all;
    overflow:hidden;
    white-space: nowrap;
}
/*****************************************************/
/******** brand image styling  ends******/


/*****************************************************/
/******** Modal Table styling  starts ******/


.modalTableContainer
{
    width: 100%;
    max-height: 300px;
    overflow-y: overlay;    
}

.modelTableContainerWithSelect
{
    width: 100%;
    max-height: 320px;
    min-height: 320px;
    overflow-y: overlay;    
}

.modalTable
{
    width: 99%;
    table-layout: auto;    
}

.hideModalTable
{
    visibility: hidden;
    display:none;
}

.filterColumn
{
    text-align: center;
}

.actionsColumn
{
    width: 70px;
}

.brandsColumn
{
    width: 130px;
}

.deliverablesTextBox
{
    width: 90%;
    max-width: 90%;
}

.noRecordsText
{
    margin-top: 5px;
    margin-left: 5px;
}

/******** Modal Table styling  ends ******/
/*****************************************************/


/******** List box styling  start ******/
/*****************************************************/

.rdl-control {
  display: block;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 8px 12px;
  width: 100%;
  font-size: 14px;
  height: 200px !important;
}

select[multiple]:disabled {
    cursor: not-allowed !important;
}

.btnList{
    padding:0
}

.listBoxButton
{
    width: 90px;
}

.listBoxButtons
{
    margin-top:30px;
}

.react-tags-product
{
    float:left;
    width:300px;
    border: 1px solid #CCC !important;
    border-radius: 4px !important;
}

.react-tags-product_error
{
    float:left;
    width:260px;
    border-radius: 4px !important;
    border: 1px solid #a94442!important;
}

.react-tags__search_error 
{
    display: inline-block;
    padding: 7px 2px;
    margin-bottom: 6px;
    max-width: 100%;
}

.react-tags__search_error input {
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font-size: inherit;
    line-height: inherit;
    color: #ff0000;
}

.col-md-prod-4 {
    width: 37.33333333% !important;
}

/******** List box styling  ends ******/
/*****************************************************/

/*****************************************************/
/******** work flow styling  starts ******/
.workflowStatus-description{
   max-width: 66%;
}

/*****************************************************/
/******** work flow styling  ends ******/






/*****************************************************/
/******** Path Translation styling *******************/
.standout{
    font-weight: bold;
    color: grey
}

.softHead{
    font-weight: bold;
    text-decoration: underline;
}

/*****************************************************/
/******** Toggle Checkbox styling  *******************/

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 20px;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
   input:disabled + .slider {
     cursor: not-allowed;
     background-color: #ccc;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .gridSwitch
  {
      margin-bottom: -3px;
  }

/*****************************************************/
/******** user permission personal info component styling starts  *******************/
.user-permission-personalinfo-row {
    width: 1000px;
}

.user-permission-personalinfo-extension {
    width: 75px;
}

.user-permission-formgroup {
    margin-left: -25px;
}

.user-permission-personalinfo-activeapi {
    width: 100px;
}
.user-permission-personalinfo-apikey {
    width: 310px;
}

.user-permission-personalinfo-phone input {
    display: block;
    width: 100%;
    height: 34px !important;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

    .user-permission-personalinfo-phone input:focus {
        border-color: #87CEEB;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(255, 100, 255, 0.5);
        outline: 0 none;
    }

.has-error .user-permission-personalinfo-phone input {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.user-permission-portal-table{
    margin-left: -75px;
    width: 100%;
}
.user-permission-portal-module{
    width: 275px;
}
/*****************************************************/
/******** user permission personal info component styling  ends *******************/

.avoid-clicks {
   cursor: not-allowed;
}


/***header css starts*/

.headerLogo{
    border-color: transparent;
    font-weight: 400;
    color: #337ab7;
    border-radius: 0;
}

.header{
        float: right;
        margin-right: 45px;
        margin-top: 48px;
        font-size: 20px;
}

.headerdropdown {
    position: relative;
    display: inline-block;
}

.headerdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
   font-size: 14px;
}

.headerdropdown:hover .headerdropdown-content {
    display: block;
    
}

.headerdropdown-content p:hover {background-color: #f1f1f1}

.header-inactiveApi{
    color:orangered;
}

.header-version{
     float: right;
    margin-bottom: -30px;
    margin-right: 3px;
}

/***header css Ends*/